body {
	width: 300px;
}

.entry img:hover {
	cursor: pointer;
}

.entry span:hover {
	cursor: pointer;
	text-decoration: underline;
}

#clipboard {
	display: none;
}

.error {
	color: red;
}

.loading {
	background-image: url('../../icons/loading.gif');
	width: 16px;
	height: 16px;
	background-size: 100%;
	display: none;
}